@page
@model SalonASP.Pages.Angajatis.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lista angajati</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Angajati[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Angajati[0].Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Angajati[0].Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Angajati[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Angajati[0].Servicii.ServiciiID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Angajati) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiciiID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AngajatiID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AngajatiID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AngajatiID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
